a, abbr, acronym, address, applet, article, aside, audio,
b, blockquote, big, body,
center, canvas, caption, cite, code, command,
datalist, dd, del, details, dfn, dl, div, dt, 
em, embed,
fieldset, figcaption, figure, font, footer, form, 
h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, ins,
kbd, 
keygen,
label, legend, li, 
meter,
nav,
object, ol, output,
p, pre, progress,
q, 
s, samp, section, small, span, source, strike, strong, sub, sup,
table, tbody, tfoot, thead, th, tr, tdvideo, tt,
u, ul, 
var{
    background: transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
    vertical-align: top; }

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
table, table td { 
	padding:0;
	border:none;
	border-collapse:collapse;
}
img {
	vertical-align:top; 
}
embed { 
	vertical-align:top;
}
* { border:none}
input, textarea{ outline:none !important}

/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block; }
mark, rp, rt, ruby, summary, time{ display: inline }


@import url(http://fonts.googleapis.com/css?family=Oswald);
/* Left & Right alignment */
.left {
  float: left;
}
.right {
  float: right;
}
.wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.box {
  overflow: hidden;
}
.clear {
  clear: both;
  width: 100%;
}
.last {
  background: none !important;
  border: none !important;
}
.pad_0 {
  padding: 0 !important;
}
a,
a > * {
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease, border 0.2s ease,
    color 0.2s ease, opacity 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease,
    opacity 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease,
    opacity 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease,
    opacity 0.2s ease-in-out;
  transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease,
    opacity 0.2s ease-in-out;
}
/*  BASIC WP STYLES start  */

.entry-content img {
  margin: 0 0 20px 0;
}
.alignleft,
img.alignleft {
  float: left;
  margin: 10px 20px 10px 0;
}
.alignright,
img.alignright {
  display: block;
  float: right;
  margin: 10px 0 10px 20px;
}
.aligncenter,
img.aligncenter {
  clear: both;
  display: block;
  margin: 10px auto 10px auto;
}
.wp-caption {
  background: #fff;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}
.wp-caption img {
  border: 0 none;
  margin: 0;
  padding: 0;
}
.wp-caption p.wp-caption-text {
  margin: 0;
  padding: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #1b1b1b;
  line-height: 1.9;
  font-size: 12px;
}
.wp-smiley {
  max-height: 12px;
  margin: 0 !important;
}
.gallery img,
.gallery dl {
  margin: 0;
}
.gallery-caption {
  margin: -20px 0 0 0;
}
.sticky {
}
/*  BASIC WP STYLES end  */

/* Global properties ======================================================== */
body,
html,
.extra,
.main {
  height: 100%;
  min-width: 940px;
  min-height: 700px;
}
#leftSide,
#content {
  min-height: 700px;
}
body {
  overflow: hidden;
  border: 0;
  font: 13px/16px "Trebuchet MS", Arial, sans-serif;
  color: #505050; /*text-transform:uppercase;*/
  /*background:url(/web/20180329210940im_/http://www.brizura.it/wp-content/themes/booster/images/big-bg.jpg) center bottom no-repeat;*/
  /*text-shadow: 0.5px 0.5px 0.5px #000000;	*/
}
/* Global Structure ============================================================= */
.extra {
  overflow: hidden;
  position: relative;
}
.main {
  position: relative;
  width: 940px;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.6);
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
.page_spinner {
  position: fixed;
  background: url(/web/20180329210940im_/http://www.brizura.it/wp-content/themes/booster/images/main_spinner.gif)
    50% 50% no-repeat #1c1c1c;
  z-index: 99;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/* ============================= main layout ====================== */
a {
  color: #fff;
  text-decoration: none;
  outline: none;
}
a:hover {
  text-decoration: none;
  color: #9a117f;
}
a.slider-read-more {
  color: #fff;
  text-decoration: none;
  outline: none;
  text-shadow: 1px 1px 1px #000000;
  font-size: 16px;
}
a.slider-read-more:hover {
  text-decoration: none;
  color: #fff;
}
h1 {
  padding: 0 0 0 0;
  font: 20px/ 20px "Oswald", sans-serif;
  padding-bottom: 35px;
  color: #fefefe;
}
.title_box_shadow {
  height: 18px;
  /*background: url("/web/20180329210940im_/http://www.brizura.it/wp-content/themes/booster/images/shadow.png") no-repeat; */
  margin-bottom: 60px;
  border-bottom: solid 1px #9a117f;
  margin-top: -20px;
  margin-left: -20px;
}
h1.entry-title {
  /*background:#9a117f url("/web/20180329210940im_/http://www.brizura.it/wp-content/themes/booster/images/tagline_bg.png"); */
  padding: 0px 15px 17px;
  text-shadow: 1px 1px 1px #000000;
  color: #fff;
  font-size: 26px;
  font-family: "Oswald", sans-serif;
}
h1.entry-title span {
  text-shadow: none;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12px;
  font-style: italic;
  text-transform: lowercase;
  color: #353036;
  margin-left: 35px;
}
h2 {
  font: 18px/ 18px "Oswald", sans-serif;
  padding-bottom: 35px;
  color: #fefefe;
  text-shadow: 1px 1px 1px #000000;
}
h3 {
  font: 14px/ 16px "Oswald", sans-serif;
  margin-bottom: 18px;
  color: #fff;
  text-shadow: 1px 1px 1px #000000;
}
h4 {
  color: #fff;
  font-weight: normal;
  font: 12px/ 14px "Oswald", sans-serif;
  text-shadow: 1px 1px 1px #000000;
}
h5 {
  color: #fff;
  font-weight: normal;
  font: 10px/ 12px "Oswald", sans-serif;
  text-shadow: 1px 1px 1px #000000;
}
p {
  padding-bottom: 16px;
  color: #fff;
  text-shadow: 1px 1px 1px #000000;
}
.color1 {
  color: #3f91da;
}
/* ============================= leftSide ====================== */
#leftSide {
  position: relative;
  overflow: visible !important;
  float: left;
  width: 220px;
  height: 100%;
  background: #fff;
  z-index: 5;
}
.logo {
  margin-left: 8px;
}
/* ============================= menu ====================== */
#menu {
  text-align: center;
  padding: 72px 35px 0;
  height: 320px;
  text-transform: none;
}
#menu li.active a,
#menu li.active a:hover {
  background-color: #1a171b;
  color: #fff;
  padding: 5px 15px 7px 15px;
  text-shadow: 1px 1px 1px #000000;
}
#menu li a {
  padding: 5px 15px 7px 15px;
}
#menu li a:hover {
  background-color: #9a117f;
  color: #fff;
  padding: 5px 15px 7px 15px;
  text-shadow: 1px 1px 1px #000000;
}
#menu > li {
  display: block; /*border-bottom: 1px solid #dad8d8;*/
}
#menu > li a {
  display: inline-block;
  font: 18px/18px "Oswald", sans-serif;
  color: #1a171b;
  text-decoration: none;
}
#menu li.with_ul ul.submenu li a {
  color: #1a171b !important;
  font-size: 9px;
  background-color: transparent !important;
  padding: 1px 3px 3px 3px;
  text-shadow: none !important;
}
#menu li.with_ul ul.submenu li a:hover {
  color: #fff !important;
  background-color: #9a117f !important;
  text-shadow: 1px 1px 1px #000000 !important;
}
.submenu {
  padding: 6px 0;
}
.submenu li {
  padding: 0 0px; /*display:inline-block;*/
}
li.with_ul a {
  color: #1a171b !important;
}
ul#menu li.with_ul a:hover {
  color: #fff !important;
  background-color: #9a117f !important;
}
li.active a {
  color: #fff !important;
}
/* ============================= slider ====================== */
#slider {
  position: absolute;
  left: 220px;
  list-style: none;
  width: 725px;
  display: block;
  overflow: hidden;
}
#slider li {
  float: left;
  overflow: hidden;
  position: relative;
}
#slider li > span {
  position: absolute;
  top: 745px;
  left: 0;
  width: 47px;
  height: 30px;
  background: url(src/num_plane.png)
    0 0 no-repeat;
  padding: 18px 1px 0 0;
  font: 10px/ 10px "Oswald", sans-serif;
  color: #fff;
  text-align: center;
}
#slider li > div {
  position: absolute;
  top: 550px;
  left: -350px;
  width: 302px;
  height: 302px;
  text-align: center;
  background: url(src/despription_plane.png)
    0 0 no-repeat;
  z-index: 3;
}
#slider li > div > div {
  display: inline-block;
  padding: 74px 0 6px;
  width: 239px;
  border-bottom: 1px solid #fff;
}
#slider li > div > div > h2 {
  padding-bottom: 15px;
  line-height: 24px;
}
#slider li > div > span {
  display: block;
  padding-top: 28px;
  font: 30px/ 30px "Oswald", sans-serif;
  color: #fff;
}
/* ============================= content ====================== */
#content {
  float: left;
  display: block;
  width: 720px;
  height: 100%;
  background: url(src/content_plane.jpg)
    0 0 repeat;
}
#content > ul {
  position: relative;
  display: block;
  width: 720px;
  height: 600px;
}
#content > ul > li {
  position: absolute;
  width: 720px;
  top: 0;
  left: 0;
}
.contPad {
  padding: 42px 0 0 20px;
}
.padBot {
  padding-bottom: 46px;
}
.link {
  display: inline-block;
  margin-top: 15px;
}
a.link-blog {
  color: #777777;
  text-shadow: 1px 1px 1px #000000;
}
a.link-blog:hover {
  color: #9a117f;
  text-shadow: 1px 1px 1px #000000;
}
.imgIndent1 {
  padding-bottom: 28px;
}
.google_map {
  float: left;
  width: 330px;
  height: 145px;
}
.address {
  padding-top: 25px;
  float: left;
  width: 330px;
}
.address p {
  color: #fff;
}
.address p span {
  color: #9a117f;
}
.address p a {
  color: #9a117f;
}
.address p a:hover {
  color: #fff;
}
/* ============================= scroll ====================== */
.scroll {
  height: 387px;
}
.scroll2 {
  height: 397px;
}
.scroll3 {
  height: 397px;
}
.scroll4 {
  height: 394px;
}
.shuttle {
  width: 7px;
  height: 134px;
  background: url(src/shuttle.jpg)
    0 0 no-repeat;
}
.shuttle:hover {
  background-position: 100% 0;
}
/*  
.track{
	position:absolute;
	top:143px;
	left:692px;
	width:7px;
	height:406px;
	background:url(/web/20180329210940im_/http://www.brizura.it/wp-content/themes/booster/images/track.png) 0 0 no-repeat;
}
*/
/* ============================= lists ====================== */
.imgList1 li {
  position: relative;
  float: left;
  margin-right: 15px;
}
.imgList1 li a > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 159px;
  height: 114px;
  background: url(/web/20180329210940im_/http://www.brizura.it/wp-content/themes/booster/images/page2_hover.png)
    0 0 no-repeat;
}
.imgList2 li {
  width: 211px;
  float: left;
  margin: 0 18px 22px 0;
}
.imgList3 li {
  position: relative;
  width: 208x;
  float: left;
  margin: 0 15px 23px 0;
}
.imgList3 li a > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 198px;
  height: 148px;
}
.imgList3 li h4 {
  padding-top: 13px;
}
.list1 {
  overflow: hidden;
  width: 243px;
}
.list1 li {
  display: block;
  overflow: hidden;
  margin-bottom: 9px;
  border-bottom: 1px solid #2a2a2a;
}
.list1 .lastLi {
  margin-bottom: 0;
  border-bottom: none;
}
.list1 li img {
  float: left;
  padding: 0 12px 9px 0;
}
.list1 li div {
  padding-top: 10px;
  width: 150px;
  float: left;
  overflow: hidden;
}
.list2 > li {
  display: block;
  overflow: hidden;
  margin-bottom: 24px;
}
.list2 > li img {
  float: left;
  padding-right: 18px;
}
.list2 > li div {
  overflow: hidden;
  width: 245px;
  float: left;
}
/* blog */
.list3 > li {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
  width: 311px;
  float: left;
  margin-right: 35px;
}
.list3-single > li {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
  width: 652px;
  float: left;
}
/***************/
.num-comments {
  float: right;
  position: relative;
  top: -16px;
}
.num-comments p {
  font-size: 15px;
  color: #fff;
  text-shadow: 1px 1px 1px #000000;
  font-family: "Oswald", sans-serif;
  display: inline;
  margin-left: 3px;
}
.bigBlogImg {
  max-width: 642px;
  max-height: 300px;
}
.postVideo {
  max-width: 652px;
}
h1.blog-post-title {
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px 1px #000000;
  padding: 0;
}
.post-details {
  background: #9a117f
    url("/web/20180329210940im_/http://www.brizura.it/wp-content/themes/booster/images/tagline_bg.png");
  padding: 5px 15px 6px;
  margin-top: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  font-family: "Oswald", sans-serif;
}
.title_box_shadow_post {
  height: 18px;
  background: url(src/shadow-post.png)
    no-repeat;
  margin-bottom: 40px;
}
.post-details ul {
  text-align: center;
}
.post-details ul li {
  margin-right: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: #fff;
  font-size: 12px;
  display: inline;
  text-transform: lowercase;
}
.post-details ul li a {
  color: #fff;
  text-shadow: 1px 1px 1px #000000;
}
.post-details ul li a:hover {
  color: #dcdada;
  text-shadow: 1px 1px 1px #000000;
}
#comments input {
  margin: 0;
  border: 1px solid #363636;
  background-color: #262626;
  padding: 8px 0 8px 10px;
  width: 265px;
  box-shadow: none;
  color: #fff;
  text-shadow: 1px 1px 1px #000000;
}
#comments textarea {
  resize: none;
  margin: 0;
  border: 1px solid #363636;
  background-color: #262626;
  padding: 8px 0 5px 10px;
  width: 465px;
  height: 115px;
  overflow: auto;
  line-height: 18px;
  color: #777777;
  text-shadow: 1px 1px 1px #000000;
}
#comments label {
  position: relative;
  display: inline-block;
  min-height: 45px;
}
#comments .error,
#comments .empty {
  position: relative;
  top: -3px;
  display: none;
  font-size: 10px;
  color: #fff;
  text-transform: none;
  text-shadow: 1px 1px 1px #000000;
}
p#blog-post-form-allow span.required {
  color: #9a117f;
  font-size: 10px;
}
p#blog-post-form-allow,
p#blog-post-form-allow span.dashed {
  color: #fff;
  font-size: 9px;
}
input#submit-comment {
  text-shadow: 1px 1px 1px #000000;
  cursor: pointer;
  background: #9a117f;
  text-align: center;
  margin-top: -20px;
  float: right;
  color: #fff;
  font-size: 15px;
  font-family: "Oswald", sans-serif;
  text-shadow: 1px 1px 1px #000000;
  border: none;
  padding: 5px 7px 6px;
  width: auto;
}
/* == WP CSS - Comment Styles == */
.comment-author img {
  text-align: left;
  float: left;
  margin-right: 20px;
}
.vcard {
  text-align: left;
}
/* text for author of comment */
span.fn {
  display: block;
  color: #777777;
  font-size: 10px;
  font-family: "Oswald", sans-serif;
  text-shadow: 1px 1px 1px #000000;
}
span.fn a {
  display: block;
  color: #777777;
  font-size: 10px;
  font-family: "Oswald", sans-serif;
  text-shadow: 1px 1px 1px #000000;
}
/* text for date of comment */
span.date-and-time a {
  margin-bottom: 20px;
  display: block;
  color: #777777;
  font-size: 10px;
  font-family: "Oswald", sans-serif;
  text-shadow: 1px 1px 1px #000000;
}
.comment-awaiting-moderation {
  font-family: "Oswald", sans-serif;
  text-shadow: 1px 1px 1px #000000;
  color: #9a117f;
  font-style: normal;
}
.commentlist .reply {
  margin-bottom: 30px !important;
}
.commentlist .reply a {
  color: #9a117f;
  margin-bottom: 30px !important;
  font-family: "Oswald", sans-serif;
  text-shadow: 1px 1px 1px #000000;
}
.commentlist .reply a:hover {
  color: #777777;
}
.commentlist .alt {
}
.commentlist .odd {
}
.commentlist .even {
}
.commentlist .thread-alt {
}
.commentlist .thread-odd {
}
.commentlist .thread-even {
}
.commentlist li ul.children .alt {
}
.commentlist li ul.children .odd {
}
.commentlist li ul.children .even {
}
.commentlist .vcard {
}
.commentlist .vcard cite.fn {
}
.commentlist .vcard span.says {
}
.commentlist .vcard img.photo {
}
.commentlist .vcard img.avatar {
}
.commentlist .vcard cite.fn a.url {
}
.commentlist .comment-meta {
}
.commentlist .comment-meta a {
}
.commentlist .commentmetadata {
}
.commentlist .commentmetadata a {
}
.commentlist .parent {
}
.commentlist .comment {
}
.commentlist .children {
}
.commentlist .pingback {
}
.commentlist .bypostauthor {
}
.commentlist .comment-author {
}
.commentlist .comment-author-admin {
}
.commentlist {
}
.commentlist li {
}
.commentlist li p {
}
.commentlist li ul {
}
.commentlist li ul.children li {
}
.commentlist li ul.children li.alt {
}
.commentlist li ul.children li.byuser {
}
.commentlist li ul.children li.comment {
}
.commentlist li ul.children li.bypostauthor {
}
.commentlist li ul.children li.comment-author-admin {
}
#cancel-comment-reply {
}
#cancel-comment-reply a {
}
ol.commentlist li ul.children li.comment-author-admin {
}
ol.commentlist li ul.children li.depth-2 {
  margin: 0 0 30px 30px;
}
ol.commentlist li ul.children li.depth-3 {
  margin: 0 0 30px 30px;
}
ol.commentlist li ul.children li.depth-4 {
  margin: 0 0 30px 30px;
}
ol.commentlist li ul.children li.depth-5 {
  margin: 0 0 30px 30px;
}
/**************/

.blog-post-time {
  font-size: 11px;
  color: #9a117f;
  text-shadow: 1px 1px 1px #000000;
  margin-bottom: 4px;
  padding: 0;
}
.blog-post-title {
  font-size: 16px;
  color: #fff;
  text-shadow: 1px 1px 1px #000000;
  padding: 0;
}
h2.blog-post-title a:hover {
  color: #a6a6a6;
}
.circle1 {
  background: #9a117f;
  width: 60px;
  height: 60px;
  text-align: center;
  margin-top: -40px;
  float: right;
}
.circle {
  border-radius: 50% 50% 50% 50%;
  position: relative; /* width and height can be anything, as long as they're equal */
}
.circle1 a {
  position: relative;
  top: 19px;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  text-shadow: 1px 1px 1px #000000;
  text-transform: none;
}
.circle1 a:hover {
  color: #ffffff;
}
.list3 > li > div.circle1 {
  float: right;
}
.blogTemplateImg {
  margin-top: 20px;
}
.gallery .overlay {
  top: 12px;
}
.list3 > li img {
  float: left;
}
.list3 > li > div {
  overflow: hidden;
  float: left;
}
.list3 > li > div > div {
  position: relative;
  top: -11px;
  padding-bottom: 2px;
}
.list3 > li > div > div > div {
  padding-top: 6px;
  float: left;
  width: 283px;
}
.list3 > li > div > div > span {
  display: block;
  float: left;
  height: 19px;
  text-indent: 22px;
  padding-top: 6px;
  background: url(/web/20180329210940im_/http://www.brizura.it/wp-content/themes/booster/images/comment_pic.png)
    0 0 no-repeat;
}
.list3 > li > div > a {
  margin-top: 8px;
}
.listWithMarker li {
  display: block;
  padding-bottom: 10px;
}
.listWithMarker li a {
  display: inline-block;
  padding: 0 5px 0 9px;
  text-decoration: none;
  background: url(src/list_marker.png)
    0 5px no-repeat;
}
.listWithMarker li a:hover {
  color: #9a117f;
}
.blogTemaplateDetails a:hover {
  color: #9a117f;
  text-decoration: none;
}
/* ============================= footer ====================== */
footer {
  text-align: center;
  font-size: 10px;
  color: #1a171b;
}
footer a {
  color: #1a171b;
  text-decoration: none;
}
footer a:hover {
  color: #9a117f;
}
footer ul {
  padding-bottom: 19px;
}
footer li {
  display: inline-block;
  margin-right: -1px;
}
.icon1,
.icon2,
.icon3,
.icon4 {
  display: block;
  width: 18px;
  height: 18px;
}
.icon1 {
  background: url(src/icon1.png)
    0 0 no-repeat;
}
.icon2 {
  background: url(src/icon2.png)
    0 0 no-repeat;
}
.icon3 {
  background: url(src/icon3.png)
    0 0 no-repeat;
}
.icon4 {
  background: url(src/icon4.png)
    0 0 no-repeat;
}
/* ============================= forms ============================= */
#form1 input {
  margin: 0;
  border: 1px solid #363636;
  background-color: #262626;
  padding: 8px 0 8px 10px;
  width: 265px;
  box-shadow: none;
  color: #777777;
  text-shadow: 1px 1px 1px #000000;
}
#form1 textarea {
  resize: none;
  margin: 0;
  border: 1px solid #363636;
  background-color: #262626;
  padding: 8px 0 5px 10px;
  width: 265px;
  height: 115px;
  overflow: auto;
  line-height: 18px;
  color: #777777;
  text-shadow: 1px 1px 1px #000000;
}
#form1 label {
  position: relative;
  display: inline-block;
  min-height: 45px;
}
#form1 .error,
#form1 .empty {
  position: relative;
  top: -3px;
  display: none;
  font-size: 10px;
  color: #fff;
  text-transform: none;
  text-shadow: 1px 1px 1px #000000;
}
.btns a {
  margin: 20px 0 0 13px;
  text-shadow: 1px 1px 1px #000000;
}
/* Form defaults */
input,
select,
textarea {
  font: 10px/10px "Trebuchet MS", Arial, sans-serif;
  color: #505050;
  text-transform: uppercase;
}
.success {
  color: #9a117f;
  text-shadow: 1px 1px 1px #000000;
}
/* --------------------- Filter ---------------------*/

ul.portfolio-filter {
  color: #fff;
  list-style: none;
  position: relative;
  left: -13px;
  margin-top: 0px;
}
ul.portfolio-filter li {
  display: block;
  text-decoration: none;
  float: left;
  margin-left: 15px;
  margin-bottom: 0px;
  font-size: 14px;
  text-shadow: 1px 1px 1px #000000;
  color: #fff;
  font-size: 14px;
  font-family: "Oswald", sans-serif;
}
ul.portfolio-filter li a {
  display: block;
  text-decoration: none;
  letter-spacing: 0;
  color: #fff;
  font-size: 14px;
  outline: none;
  font-family: "Oswald", sans-serif;
  margin-bottom: 20px !important;
}
ul.portfolio-filter li a:hover,
ul.portfolio-filter li.activeF a {
  color: #9a117f;
}
/* --------------------- SHORTCODES starts ---------------------*/

.one-half {
  width: 48.5%;
  color: #fff;
}
.one-third {
  width: 31.3%;
}
.one-fourth {
  width: 22.8%;
}
.one-fifth {
  width: 17.65%;
}
.one-sixth {
  width: 14.2%;
}
.two-third {
  width: 65%;
}
.two-third1 {
  width: 32%;
}
.two-third-last {
  width: 32%;
}
.two-third-last1 {
  width: 65%;
}
.three-fourth {
  width: 73%;
}
.three-fourth-last {
  width: 24.1%;
}
.one-third-search {
  margin-right: 20px;
  width: 208px;
}
.two-third-search {
  width: 380px;
}
.one-half,
.one-third,
.one-fourth,
.one-fifth,
.one-sixth,
.two-third,
.two-third1,
.three-fourth,
.two-third-last,
.two-third-last1,
.three-fourth-last {
  float: left;
  margin-right: 2.9%;
  margin-bottom: 30px;
}
.last-column {
  margin-right: 0px;
}
.hl {
  background-color: #9a117f;
  color: #fff;
  text-shadow: 1px 1px 1px #000000;
}
.dottedUnderline {
  border-bottom: 1px dotted #3b3b3b;
}
/*responsive video start*/

.video-container {
  position: relative;
  padding-bottom: 46.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.video-wrapper {
  max-width: 100%;
}
/*responsive video end*/

/************** START BUTTONS *****************************/
.a_button,
.a_button span {
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.a_button {
  white-space: nowrap;
  line-height: 1em;
  position: relative;
  outline: none;
  overflow: visible; /* removes extra side padding in IE */
  cursor: pointer;
  border: 1px solid #999; /* IE */
  border: rgba(0, 0, 0, 0.2) 1px solid; /* Saf4+, Chrome, FF3.6 */
  border-bottom: rgba(0, 0, 0, 0.4) 1px solid;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background: -moz-linear-gradient(
    center top,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(0, 0, 0, 0.1) 100%
  ); /* FF3.6 */
  background: -webkit-gradient(
    linear,
    center bottom,
    center top,
    from(rgba(0, 0, 0, 0.1)),
    to(rgba(255, 255, 255, 0.1))
  ); /* Saf4+, Chrome */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000'); /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')"; /* IE8 */
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  margin-bottom: 10px;
  margin-top: 20px;
  float: right;
}
.a_button.full,
.a_button.full span {
  display: block;
}
.a_button:hover,
.a_button.hover {
  background: -moz-linear-gradient(
    center top,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.1) 100%
  ); /* FF3.6 */
  background: -webkit-gradient(
    linear,
    center bottom,
    center top,
    from(rgba(255, 255, 255, 0.1)),
    to(rgba(255, 255, 255, 0.2))
  ); /* Saf4+, Chrome */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF'); /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF')"; /* IE8 */
}
.a_button:active,
.a_button.active {
  top: 1px;
}
.a_button.mainCol {
  background-color: #9a117f;
}
.a_button span {
  position: relative;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  border-top: rgba(255, 255, 255, 0.2) 1px solid;
  padding: 0.6em 1.3em;
  line-height: 1em;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
}
.a_button.small span {
  font-size: 10px;
}
.a_button.medium span {
  font-size: 12px;
}
.a_button.large span {
  font-size: 15px;
}
/************** END BUTTONS *****************************/

/* list */
.list {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  font-size: 13px !important;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
}
.list li {
  background: none;
  margin-bottom: 10px;
  font-size: 13px !important;
}
.list li a:hover {
  color: #9a117f;
  text-decoration: none;
}
/* --------------------- SHORTCODES end ---------------------*/

/*
	Portfolio hover
*/
.columnBox {
  width: 208px;
}
.columnBox-blog {
  width: 301px;
}
.columnBox div {
  position: relative;
}
.gallery .overlay {
  top: 16px;
}
.gallery .columnBox {
  overflow: hidden;
}
.gallery .overlay {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 53px;
  left: -500px;
}
.columnBox-blog .overlay {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 60px;
  left: -500px;
}
.columnBox-blog .blogTemplateImg .overlay {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 75px;
  left: -500px;
}
.columnBox-singlePortf .singlePortfImage .overlay {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 120px;
  left: -700px;
}
.columnBox h3 {
  text-align: center;
  margin-top: 8px;
  text-shadow: 1px 1px 1px #000000;
  font-size: 13px;
  margin-bottom: 0px;
}
.columnBox h3 a:hover {
  text-decoration: none;
  color: #9a117f;
}
.folio-item {
  margin-bottom: 20px;
}
.folio-desc p {
  color: #fff;
  text-shadow: 1px 1px 1px #000000;
  margin-bottom: -15px;
}
.folio-desc p span {
  color: #9a117f;
}
.folio-desc p.nekaj {
  margin-bottom: -6px;
  margin-left: 10px;
}
.folio-desc p.nekaj a:hover {
  text-decoration: none;
  color: #868585;
}
.padding-test {
  padding-bottom: 50px;
  padding-top: 50px;
  margin-top: 50px;
  position: relative;
}
.imgWithBorder {
  padding: 4px;
  border: 1px solid #323232;
  background-color: #1a1a1a;
}
ul.images-list {
  margin-left: -13px;
}
ul.images-list li {
  float: left;
  margin-left: 13px;
}
ul.images-list li img {
}
ul.images-list li p {
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000000;
  font: 12px "Oswald", sans-serif;
  margin-top: 5px;
}
ul.images-list li p span {
  display: block;
  text-align: center;
  color: #9a117f;
  text-shadow: 1px 1px 1px #000000;
  font: 11px "Oswald", sans-serif;
}
/* start single portfolio slider*/

.folio-item .slides {
  width: 652px;
  float: left;
  position: relative;
}
.folio-item .slides_container {
  width: 652px;
  z-index: 1;
}
.folio-item .slides_container div.slide {
  width: 652px;
  z-index: 10000;
  display: block;
}
.folio-item .slides_container div.slide img {
  max-width: 100%;
  height: auto;
  z-index: 1;
}
.folio-item .next,
.folio-item .prev {
  position: absolute;
  top: 10px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url("src/prev-next.png");
  width: 38px;
  height: 39px;
  z-index: 98;
  text-indent: -99999px;
}
.folio-item a.next,
.folio-item a.prev {
  display: block;
  text-indent: -99999px;
}
.folio-item .next {
  left: 41px;
  background-position: -38px 0;
}
.folio-item .prev {
  left: 11px;
}
.folio-item .next:hover {
  background-position: -38px -39px;
}
.folio-item .prev:hover {
  background-position: 0 -39px;
}
/* end single portfolio slider*/

/* start single post slider*/

.list3-single #slides {
  width: 652px;
  float: left;
  position: relative;
}
.list3-single .slides_container {
  width: 652px;
  z-index: 1;
}
.list3-single .slides_container div.slide {
  width: 652px;
  z-index: 10000;
  display: block;
}
.list3-single .slides_container div.slide img {
  max-width: 100%;
  height: auto;
  z-index: 1;
}
.list3-single .next,
.list3-single .prev {
  position: absolute;
  top: 10px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url(src/prev-next.png);
  width: 38px;
  height: 39px;
  z-index: 98;
  text-indent: -99999px;
}
.list3-single a.next,
.list3-single a.prev {
  display: block;
  text-indent: -99999px;
}
.list3-single .next {
  left: 41px;
  background-position: -38px 0;
}
.list3-single .prev {
  left: 11px;
}
.list3-single .next:hover {
  background-position: -38px -39px;
}
.list3-single .prev:hover {
  background-position: 0 -39px;
}
/* end single post slider*/

.singlePortfImg {
  max-width: 652px;
  max-height: 300px;
}
.indexPage {
  width: 652px;
}
.portfVideo {
  width: 652px;
}
#slidesMobile {
  display: none;
}
#mobileHeader {
  display: none;
  background: #fff;
}
/* start single portfolio slider*/

#slidesMobile {
  width: 460px;
  float: left;
  position: relative;
}
#slidesMobile .slides_container {
  width: 460px;
  z-index: 1;
}
#slidesMobile .slides_container div.slide {
  width: 460px;
  z-index: 10000;
  display: block;
}
#slidesMobile .slides_container div.slide img {
  max-width: 100%;
  height: auto;
  z-index: 1;
}
#slidesMobile .next,
#slidesMobile .prev {
  position: absolute;
  top: 10px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url(src/prev-next.png);
  width: 38px;
  height: 39px;
  z-index: 98;
  text-indent: -99999px;
}
#slidesMobile a.next,
#slidesMobile a.prev {
  display: block;
  text-indent: -99999px;
}
#slidesMobile .next {
  left: 41px;
  background-position: -38px 0;
}
#slidesMobile .prev {
  left: 11px;
}
#slidesMobile .next:hover {
  background-position: -38px -39px;
}
#slidesMobile .prev:hover {
  background-position: 0 -39px;
}
/* end single portfolio slider*/
#menuMobile {
  display: none;
}
#menuMobile {
  text-align: center;
  padding: 20px 20px 0;
}
#menuMobile li.active a,
#menuMobile li.active a:hover {
  background-color: #353036;
  color: #fff;
  padding: 5px 15px 7px 15px;
  text-shadow: 1px 1px 1px #000000;
}
#menuMobile li a {
  padding: 5px 15px 7px 15px;
}
#menuMobile li a:hover {
  background-color: #9a117f;
  color: #fff;
  padding: 5px 15px 7px 15px;
  text-shadow: 1px 1px 1px #000000;
}
#menuMobile > li {
  display: block; /*border-bottom: 1px solid #dad8d8;*/
}
#menuMobile > li a {
  display: inline-block;
  font: 14px/14px "Oswald", sans-serif;
  color: #434343;
  text-decoration: none;
}
#menuMobile li.with_ul ul.submenu li a {
  color: #434343 !important;
  font-size: 10px;
  background-color: transparent !important;
  padding: 1px 3px 3px 3px;
  text-shadow: none !important;
}
#menuMobile li.with_ul ul.submenu li a:hover {
  color: #fff !important;
  background-color: #9a117f !important;
}
#menuMobile .submenu {
  padding: 6px 0;
}
#menuMobile .submenu li {
  padding: 0 0px;
  display: inline-block;
}
#menuMobile li.with_ul a {
  color: #434343 !important;
}
#menuMobile li.with_ul a:hover {
  color: #fff !important;
  background-color: #9a117f !important;
}
#menuMobile li.active a {
  color: #fff !important;
}
h2 span.backPortf {
  float: right;
  margin-right: 49px;
  font-size: 12px;
  color: #9a117f;
}
/* tinyscroll */
.scrollbar1 {
  width: 672px;
  margin: 0px;
}
.scrollbar1 .viewport {
  width: 672px;
  height: 450px;
  overflow: hidden;
  position: relative;
}
.scrollbar1 .overview {
  list-style: none;
  position: relative;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  height: auto;
}
.scrollbar1 .scrollbar {
  background: transparent
    url(src/track2.png)
    no-repeat 0 0;
  position: absolute;
  background-position: 0 0;
  float: right;
  width: 7px;
  right: 25px;
  z-index: 4;
}
.scrollbar1 .track {
  /*background: transparent url(/web/20180329210940im_/http://www.brizura.it/wp-content/themes/booster/images/bg-scrollbar-trackend-y.png) no-repeat 0 100%;*/
  height: 100%;
  width: 7px;
  position: relative;
  padding: 0px;
}
.scrollbar1 .thumb {
  background: #9a117f no-repeat 50% 100%;
  height: 134px;
  width: 7px;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0px;
}
/*.scrollbar1 .thumb .end { background: transparent url(/web/20180329210940im_/http://www.brizura.it/wp-content/themes/booster/images/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; } */
.scrollbar1 .disable {
  display: none;
}
.dettagli {
  margin-right: 5px !important;
}
/*social*/

.sic-gplus {
  margin-top: 16px !important;
}

.col3, .col4, .col5, .col6, .col8, .colMax, .col432 { float:left;}

.colIndent1{
	padding-right:40px;
}
.colIndent2{
	padding-right:20px;
}


.col3{ 
	width:200px;
}
.col4{ 
	width:272px;
}
.col5{ 
	width:360px;
}
.col6{ 
	width:385px;
}
.col8{
	width:480px;
}
.colMax{
	width:685px;
}


.mr20 {
	margin-right: 20px;
}
.col432 {
	width: 432px; margin-right: 0;
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1104;
	display: none;
}

#fancybox-loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background-image: url(src/fancybox.png);
}

#fancybox-overlay {
	overflow:hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1100;
	display: none;
}

#fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}

#fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	z-index: 1101;
	outline: none;
	display: none;
}

#fancybox-outer {
	position: relative;
	width: 100%;
	height: 100%;
	background: #353535;
}

#fancybox-content {
	width: 0;
	height: 0;
	padding: 0;
	outline: none;
	position: relative;
	overflow: hidden;
	z-index: 1102;
	border: 0px solid #353535;
}

#fancybox-hide-sel-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 1101;
}

#fancybox-close {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	background: transparent url(src/fancybox.png) -40px 0px;
	cursor: pointer;
	z-index: 1103;
	display: none;
}

#fancybox-error {
	color: #444;
	font: normal 12px/20px Arial;
	padding: 14px;
	margin: 0;
}

#fancybox-img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	line-height: 0;
	vertical-align: top;
}

#fancybox-frame {
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}

#fancybox-left, #fancybox-right {
	position: absolute;
	bottom: 0px;
	height: 100%;
	width: 35%;
	cursor: pointer;
	outline: none;
	background: transparent url('/web/20180329215023im_/http://www.brizura.it/wp-content/themes/booster/images/fancybox/fancy_blank.gif');
	z-index: 1102;
	display: none;
}

#fancybox-left {
	left: 0px;
}

#fancybox-right {
	right: 0px;
}

#fancybox-left-ico, #fancybox-right-ico {
	position: absolute;
	top: 50%;
	left: -9999px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	cursor: pointer;
	z-index: 1102;
	display: block;
}
#fancybox-left-ico {
	background-image: url(src/fancybox.png);
	background-position: -40px -30px;
}

#fancybox-right-ico {
	background-image: url(src/fancybox.png);
	background-position: -40px -60px;
}

#fancybox-left:hover, #fancybox-right:hover {
	visibility: visible; /* IE6 */
}

#fancybox-left:hover span {
	left: 20px;
}

#fancybox-right:hover span {
	left: auto;
	right: 20px;
}

.fancybox-bg {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	width: 20px;
	height: 20px;
	z-index: 1001;
}

#fancybox-bg-n {
	top: -20px;
	left: 0;
	width: 100%;
	background-image: url('/web/20180329215023im_/http://www.brizura.it/wp-content/themes/booster/images/fancybox/fancybox-x.png');
}

#fancybox-bg-ne {
	top: -20px;
	right: -20px;
	background-image: url(src/fancybox.png);
	background-position: -40px -162px;
}

#fancybox-bg-e {
	top: 0;
	right: -20px;
	height: 100%;
	background-image: url('/web/20180329215023im_/http://www.brizura.it/wp-content/themes/booster/images/fancybox/fancybox-y.png');
	background-position: -20px 0px;
}

#fancybox-bg-se {
	bottom: -20px;
	right: -20px;
	background-image: url(src/fancybox.png);
	background-position: -40px -182px; 
}

#fancybox-bg-s {
	bottom: -20px;
	left: 0;
	width: 100%;
	background-image: url('/web/20180329215023im_/http://www.brizura.it/wp-content/themes/booster/images/fancybox/fancybox-x.png');
	background-position: 0px -20px;
}

#fancybox-bg-sw {
	bottom: -20px;
	left: -20px;
	background-image: url(src/fancybox.png);
	background-position: -40px -142px;
}

#fancybox-bg-w {
	top: 0;
	left: -20px;
	height: 100%;
	background-image: url('/web/20180329215023im_/http://www.brizura.it/wp-content/themes/booster/images/fancybox/fancybox-y.png');
}

#fancybox-bg-nw {
	top: -20px;
	left: -20px;
	background-image: url(src/fancybox.png);
	background-position: -40px -122px;
}

#fancybox-title {
	font-family: Helvetica;
	font-size: 12px;
	z-index: 1102;
}

.fancybox-title-inside {
	padding-bottom: 10px;
	text-align: center;
	color: #333;
	background: #fff;
	position: relative;
}

.fancybox-title-outside {
	padding-top: 10px;
	color: #fff;
}

.fancybox-title-over {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFF;
	text-align: left;
}

#fancybox-title-over {
	padding: 10px;
	background-image: url('/web/20180329215023im_/http://www.brizura.it/wp-content/themes/booster/images/fancybox/fancy_title_over.png');
	display: block;
}

.fancybox-title-float {
	position: absolute;
	left: 0;
	bottom: -20px;
	height: 32px;
}

#fancybox-title-float-wrap {
	border: none;
	border-collapse: collapse;
	width: auto;
}

#fancybox-title-float-wrap td {
	border: none;
	white-space: nowrap;
}

#fancybox-title-float-left {
	padding: 0 0 0 15px;
	background: url(src/fancybox.png) -40px -90px no-repeat;
}

#fancybox-title-float-main {
	color: #FFF;
	line-height: 29px;
	font-weight: bold;
	padding: 0 0 3px 0;
	background: url('/web/20180329215023im_/http://www.brizura.it/wp-content/themes/booster/images/fancybox/fancybox-x.png') 0px -40px;
}

#fancybox-title-float-right {
	padding: 0 0 0 15px;
	background: url(src/fancybox.png) -55px -90px no-repeat;
}

/* IE6 */

.fancybox-ie6 #fancybox-close { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/fancy_close.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-left-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/fancy_nav_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-right-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/fancy_nav_right.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-title-over { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/fancy_title_over.png', sizingMethod='scale'); zoom: 1; }
.fancybox-ie6 #fancybox-title-float-left { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/fancy_title_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-main { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/fancy_title_main.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-right { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/fancy_title_right.png', sizingMethod='scale'); }


#fancybox-loading.fancybox-ie6 div	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/fancy_loading.png', sizingMethod='scale'); }

/* IE6, IE7, IE8 */

.fancybox-ie .fancybox-bg { background: transparent !important; }

.fancybox-ie #fancybox-bg-n { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/fancy_shadow_n.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-ne { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/fancy_shadow_ne.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-e { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/fancy_shadow_e.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-se { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/fancy_shadow_se.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-s { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/fancy_shadow_s.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-sw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/fancy_shadow_sw.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-w { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/fancy_shadow_w.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-nw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/fancy_shadow_nw.png', sizingMethod='scale'); }